<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File"
            name="appFile"
            fileName="${basedir}/logs/app/${shortdate}.log"
            archiveEvery="Day"
            maxArchiveFiles="30"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|traceId=${aspnet-traceidentifier}|ip=${aspnet-request-ip}|url=${aspnet-request-url}|exception=${exception:format=tostring}" />

    <target xsi:type="File"
            name="errorFile"
            fileName="${basedir}/logs/errors/${shortdate}.log"
            archiveEvery="Day"
            maxArchiveFiles="60"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|traceId=${aspnet-traceidentifier}|exception=${exception:format=tostring}" />

    <target xsi:type="File"
            name="adminAuditFile"
            fileName="${basedir}/logs/admin/${shortdate}.jsonl"
            archiveEvery="Day"
            maxArchiveFiles="90"
            keepFileOpen="false"
            concurrentWrites="true">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="traceId" layout="${aspnet-traceidentifier}" />
        <attribute name="ip" layout="${aspnet-request-ip}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="action" layout="${event-properties:item=Action}" />
        <attribute name="userId" layout="${event-properties:item=UserId}" />
        <attribute name="entityType" layout="${event-properties:item=EntityType}" />
        <attribute name="entityId" layout="${event-properties:item=EntityId}" />
        <attribute name="success" layout="${event-properties:item=Success}" />
        <attribute name="details" layout="${event-properties:item=Details}" />
      </layout>
    </target>

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />
  </targets>

	<rules>
		<logger name="AdminAudit" minlevel="Info" writeTo="adminAuditFile" final="true" />

		<logger name="Microsoft.*" minlevel="Warn" writeTo="appFile,console" final="true" />
		<logger name="Microsoft.*" minlevel="Error" writeTo="errorFile" />

		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Info" writeTo="appFile,console" />
	</rules>
</nlog>