<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Genome Assembly App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Сборка генома</a>
                <div>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <span class="nav-link">@User.Identity?.Name</span>
                        <a class="nav-link" href="/Index">Главная</a>
                        <a class="nav-link" href="/MyProjects">Мои сборки</a>
                        <form class="logout-form" method="get" action="/logout">
                            <button type="submit" class="nav-link nav-button">Выйти</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link" href="/Login">Войти</a>
                        <a class="nav-link" href="/Register">Регистрация</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>